*{
    box-sizing: border-box;
}
.row{
    margin: 0;
    --bs-gutter-x:0
}
#gameArea{
    border: 3px solid black;
    width: 900px;
    margin: auto;
    height: 600px;
    margin-top: 40px;
}
.path{
    background-color: aqua;
    
}
.left{
    border-left: none!important;
    
}
.right{
    border-right: none!important;
}
.top{

    border-top: none!important;
    
}
.bottom{
    border-bottom: none!important;
}