*{
    box-sizing: border-box;
}
.row{
    margin: 0;
    --bs-gutter-x:0
}
#gameArea{
    border: 3px solid black;
    width: 900px;
    margin: auto;
    height: 600px;
    margin-top: 40px;
}
.path{
    background-color: rgb(96, 118, 219) ;
    
}
.left{
    border-left:1px solid white!important;
    
}
.right{
    border-right:1px solid white!important;
}
.top{

    border-top:1px solid white!important;
    
}
.bottom{
    border-bottom: 1px solid white!important;
}
.container{
    position: relative;
}
#Show{
    position: absolute;
    width: 130px;
    height: 80px;
    top: 40%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 40px;
    transition: .3s;
    border-radius: 15px;
}
#Show:hover{
    background-color: silver;
}